<header class="encabezado">
    <img width="70px" class="imgheader hover1" src="/assets/img/make.png" alt="MakeItGreat">

    <div class="devol hover1">

        <a routerLink="home"><strong>Hero Finder</strong></a>

    </div>

    <div id="hover2" class="devol">
        <a href="https://www.crunchyroll.com/es/my-hero-academia" target="_blank"><strong>Hero's Anime</strong></a>
    </div>
</header>

<router-outlet></router-outlet>

<footer class="center">
    <img width="70px" class="devol hover1 " src="/assets/img/make.png" alt="MakeItGreat">
</footer>